# Database Connection (PostgreSQL)
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/securegate?schema=public"

# NextAuth Configuration
NEXTAUTH_SECRET="generate-a-random-32-character-secret-key-here"
NEXTAUTH_URL="http://localhost:3000"

# Resend Email API Key
RESEND_API_KEY="re_1234567890abcdef"

# Upstash Redis Configuration (for Rate Limiting and Session Store)
UPSTASH_REDIS_REST_URL="https://your-upstash-instance-name.upstash.io"
UPSTASH_REDIS_REST_TOKEN="your-upstash-rest-token"
